*,
*::after, 
*::before {
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:62,5%;
}

body{
    font-size:1.2rem;
}

li {
    list-style:none;
}

a{
    text-decoration: none;
    color:black;
    opacity:0.75;
}

a:hover {
    opacity:1;
}

.nav {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:8vh;
    background-color: aliceblue;
}

.nav_brand {
    text-transform: uppercase;
    font-size:20px;
}

.nav_menu {
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:3rem;
}

.nav_toggler div{
    width:2.5rem;
    height:0.2rem;
    margin:0.4rem;
    background-color: grey;
    transition:0.4s ease-in;
}

.nav_toggler {
    cursor:pointer;
    display:none;
}

.nav_item {
    color:black;
    opacity:0.75;
}

.nav_item:hover {
    opacity:1;
}

@media screen and (max-width:768px) {
    .nav_toggler {
        display:block;
    }
    .nav_menu{
        position:fixed;
        top:7vh;
        right:0;
        width:50%;
        height:93vh;
        background-color: aliceblue;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

/*Nav active class*/

.nav_active {
    transform: translateX(0);
}

/* Toggler Icon Animation*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2 {
   opacity:0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-5px);
}